<?xml version="1.0" encoding="UTF-8"?>
<plugin id="org.livetribe.forma.frame" plugin-class="org.livetribe.forma.frame.FramePlugin" bundle="Frame">
    <name bundleKey="plugin.frame.name">Forma Frame</name>

    <dependencies>
        <dependency>org.livetribe.forma.platform</dependency>
    </dependencies>

    <extensions>

        <extension id="org.livetribe.forma.frame.frameManager"
                   parser-class="org.livetribe.forma.ui.frame.spi.FrameExtensionParser">
            <frames>
                <frame id="org.livetribe.forma.frame.mainFrame"
                       frame-class="org.livetribe.forma.ui.frame.spi.DefaultFrame" />
            </frames>
        </extension>

        <extension id="org.livetribe.forma.action.actionManager"
                   parser-class="org.livetribe.forma.ui.action.spi.ActionExtensionParser">
            <actions>
                <action id="action.frame.newFrame" action-class="org.livetribe.forma.frame.action.NewFrameAction">
                    <text bundleKey="">New Frame</text>
                    <tooltip>Opens a new frame</tooltip>
                    <!--<icon bundleKey="">images/new.png</icon>-->
                    <mnemonic bundleKey="">N</mnemonic>
                    <accelerator bundleKey="">ctrl N</accelerator>
                </action>
                <action id="action.frame.closeFrame" action-class="org.livetribe.forma.frame.action.CloseFrameAction">
                    <text bundleKey="">Close</text>
                </action>
                <action id="action.frame.exitApplication"
                        action-class="org.livetribe.forma.frame.action.ExitApplicationAction">
                    <text bundleKey="">Exit</text>
                    <mnemonic bundleKey="">X</mnemonic>
                    <accelerator bundleKey="">ctrl Q</accelerator>
                </action>
            </actions>
        </extension>

        <extension id="org.livetribe.forma.menubar.menubarManager"
                   parser-class="org.livetribe.forma.ui.menubar.spi.MenubarExtensionParser">
            <menubars>
                <menubar id="org.livetribe.forma.menubar.mainMenubar">
                    <menus>
                        <menu id="menubar.menu.file">
                            <text>File</text>
                            <mnemonic>F</mnemonic>
                            <sections>
                                <section id="menubar.menu.file.section.new">
                                    <items>
                                        <item id="menubar.menu.file.item.newFrame">
                                            <action refid="action.frame.newFrame" />
                                        </item>
                                        <item id="menubar.menu.file.item.closeFrame">
                                            <action refid="action.frame.closeFrame" />
                                        </item>
                                    </items>
                                </section>
                                <section id="menubar.menu.file.section.exit">
                                    <items>
                                        <item id="menubar.menu.file.item.exitApplication">
                                            <action refid="action.frame.exitApplication" />
                                        </item>
                                    </items>
                                </section>
                            </sections>
                        </menu>
                    </menus>
                </menubar>
            </menubars>
        </extension>

        <extension id="org.livetribe.forma.perspective.perspectiveManager"
                   parser-class="org.livetribe.forma.ui.perspective.spi.PerspectiveExtensionParser">
        </extension>

        <extension id="org.livetribe.forma.statusbar.statusbarManager"
                   parser-class="org.livetribe.forma.ui.statusbar.spi.StatusbarExtensionParser">
            <statusbars>
                <statusbar id="org.livetribe.forma.statusbar.mainStatusbar">
<!--
                    <sections>
                        <section id="text">
                            <text-component id="" component-class="org.livetribe.forma.frame.statusbar.StatusBarLabel" />
                        </section>
                        <section id="memory">
                            <component id="" component-class="org.livetribe..MemoryBar">
                                <property name="garbageCollectorButton" value="#gcButton" />
                            </component>
                            <component id="gcButton" component-class="org.livetribe.GarbageCollectorButton" />
                        </section>
                    </sections>
-->
                </statusbar>
            </statusbars>
        </extension>
<!--
        <extension id="org.livetribe.forma.browser.browserManager"
                   parser-class="org.livetribe.forma.browser.spi.BrowserExtensionParser">
            <browsers>
                <browser id="" browser-class="">

                </browser>
            </browsers>
        </extension>

                <extension>
                    <popupmenus>
                        <popupmenu>
                            <sections>
                                <section>
                                    <item></item>
                                </section>
                                <section>
                                    <menu id="">
                                        <text></text>
                                        <mnemonic></mnemonic>
                                        <sections>
                                            <item></item>
                                        </sections>
                                    </menu>
                                </section>
                            </sections>
                        </popupmenu>
                    </popupmenus>
                </extension>

                <extension>
                    <editors>
                        <editor
                    </editors>
                </extension>
        -->
    </extensions>

</plugin>
