<?xml version="1.0" encoding="UTF-8"?>
<plugin id="org.livetribe.forma.console.ConsolePlugin.ID" plugin-class="org.livetribe.forma.console.ConsolePlugin"
        bundle="Console">
    <name bundleKey="plugin.console.name">Forma Console</name>

    <dependencies>
        <dependency>org.livetribe.forma.FormaPlugin.ID</dependency>
        <dependency>org.livetribe.forma.frame.FramePlugin.ID</dependency>
    </dependencies>

    <extensions>

        <extension id="org.livetribe.forma.ui.action.ActionManager.ID"
                   parser-class="org.livetribe.forma.ui.action.spi.ActionExtensionParser">
            <actions>
                <action id="org.livetribe.forma.console.action.SLPNetworkScanAction.ID"
                        action-class="org.livetribe.forma.console.action.SLPNetworkScanAction">
                    <text bundleKey="action.slp.scan.text">SLP Network Scan</text>
                </action>
                <action id="org.livetribe.forma.console.action.ManageNodeAction.ID"
                        action-class="org.livetribe.forma.console.action.ManageNodeAction">
                    <text>Browse...</text>
                </action>
            </actions>
        </extension>

        <extension id="org.livetribe.forma.ui.menubar.MenubarManager.ID"
                   parser-class="org.livetribe.forma.ui.menubar.spi.MenubarExtensionParser">
            <menubars>
                <menubar id="org.livetribe.forma.ui.menubar.MenubarManager.MENUBAR_ID">
                    <menus>
                        <menu id="menubar.menu.file">
                            <sections>
                                <section id="menubar.menu.file.section.new">
                                    <items>
                                        <menu id="menubar.menu.file.menu.networkScans">
                                            <text>Network Scans</text>
                                            <sections>
                                                <section id="menubar.menu.file.menu.networkScans.section.scans">
                                                    <items>
                                                        <item id="menubar.menu.file.menu.networkScans.item.slpScan">
                                                            <action refid="org.livetribe.forma.console.action.SLPNetworkScanAction.ID" />
                                                        </item>
                                                    </items>
                                                </section>
                                            </sections>
                                        </menu>
                                    </items>
                                </section>
                            </sections>
                        </menu>
                    </menus>
                </menubar>
            </menubars>
        </extension>

        <extension id="org.livetribe.forma.ui.perspective.PerspectiveManager.ID"
                   parser-class="org.livetribe.forma.ui.perspective.spi.PerspectiveExtensionParser">
            <perspectives>
                <perspective id="org.livetribe.forma.console.perspective.WelcomePerspective.ID"
                             perspective-class="org.livetribe.forma.console.perspective.WelcomePerspective">
                </perspective>
                <perspective id="org.livetribe.forma.console.perspective.BrowserPerspective.ID"
                             perspective-class="org.livetribe.forma.console.perspective.BrowserPerspective">
                </perspective>
<!--
                <perspective id="org.livetribe.forma.console.perspective.jmx.ManagementPerspective.ID"
                             perspective-class="org.livetribe.forma.console.perspective.jmx.ManagementPerspective">
                </perspective>
-->
            </perspectives>
        </extension>

        <extension id="org.livetribe.forma.ui.browser.BrowserManager.ID"
                   parser-class="org.livetribe.forma.ui.browser.spi.BrowserExtensionParser">
            <browsers>
                <browser id="org.livetribe.forma.console.browser.SLPNetworkBrowser.ID"
                         browser-class="org.livetribe.forma.console.browser.SLPNetworkBrowser">
                </browser>
            </browsers>
        </extension>

        <extension id="org.livetribe.forma.ui.popup.PopupManager.ID"
                   parser-class="org.livetribe.forma.ui.popup.spi.PopupExtensionParser">
            <popups>
                <popup id="org.livetribe.forma.console.browser.ManageableNodePanel.POPUP_ID">
                    <sections>
                        <section id="popup.network.service.section.browse">
                            <items>
                                <item id="popup.network.service.browse.item.browse">
                                    <action refid="org.livetribe.forma.console.action.ManageNodeAction.ID" />
                                </item>
                            </items>
                        </section>
                    </sections>
                </popup>
            </popups>
        </extension>

        <extension id="org.livetribe.forma.ui.editor.EditorManager.ID"
                   parser-class="org.livetribe.forma.ui.editor.spi.EditorExtensionParser">
            <sources>
                <source source-class="org.livetribe.forma.console.editor.JMXEditorSource" />
<!--
                <source source-class="JSPFileEditorSource">
                    <property name="fileSuffix">jsp,jspx</property>
                </source>
                <source source-class="JettyJMXEditorSource" specializes="JMXEditorSource" />
-->
            </sources>
            <editors>
                <editor editor-class="org.livetribe.forma.console.editor.JMXEditor" />
            </editors>
        </extension>

    </extensions>

</plugin>
