<?xml version="1.0" encoding="UTF-8"?>
<plugin id="org.livetribe.forma.console.ConsolePlugin.ID" plugin-class="org.livetribe.forma.console.ConsolePlugin"
        bundle="Console">
    <name bundleKey="plugin.console.name">Forma Console</name>

    <dependencies>
        <dependency>org.livetribe.forma.FormaPlugin.ID</dependency>
        <dependency>org.livetribe.forma.frame.FramePlugin.ID</dependency>
    </dependencies>

    <extensions>

        <extension id="org.livetribe.forma.ui.action.ActionManager.ID"
                   parser-class="org.livetribe.forma.ui.action.spi.ActionExtensionParser">
            <actions>
                <action id="org.livetribe.forma.console.action.SLPNetworkScanAction.ID"
                        action-class="org.livetribe.forma.console.action.SLPNetworkScanAction">
                    <text bundleKey="action.slp.scan.text">SLP Network Scan</text>
                </action>
            </actions>
        </extension>

        <extension id="org.livetribe.forma.ui.menubar.MenubarManager.ID"
                   parser-class="org.livetribe.forma.ui.menubar.spi.MenubarExtensionParser">
            <menubars>
                <menubar id="org.livetribe.forma.ui.menubar.MenubarManager.MENUBAR_ID">
                    <menus>
                        <menu id="menubar.menu.file">
                            <sections>
                                <section id="menubar.menu.file.section.new">
                                    <items>
                                        <menu id="menubar.menu.file.menu.networkScans">
                                            <text>Network Scans</text>
                                            <sections>
                                                <section id="menubar.menu.file.menu.networkScans.section.scans">
                                                    <items>
                                                        <item id="menubar.menu.file.menu.networkScans.item.slpScan">
                                                            <action refid="org.livetribe.forma.console.action.SLPNetworkScanAction.ID" />
                                                        </item>
                                                    </items>
                                                </section>
                                            </sections>
                                        </menu>
                                    </items>
                                </section>
                            </sections>
                        </menu>
                    </menus>
                </menubar>
            </menubars>
        </extension>

        <extension id="org.livetribe.forma.ui.perspective.PerspectiveManager.ID"
                   parser-class="org.livetribe.forma.ui.perspective.spi.PerspectiveExtensionParser">
            <perspectives>
                <perspective id="org.livetribe.forma.console.perspective.WelcomePerspective.ID"
                             perspective-class="org.livetribe.forma.console.perspective.WelcomePerspective">
                </perspective>
                <perspective id="org.livetribe.forma.console.perspective.BrowserPerspective.ID"
                             perspective-class="org.livetribe.forma.console.perspective.BrowserPerspective">
                </perspective>
            </perspectives>
        </extension>

        <extension id="org.livetribe.forma.ui.browser.BrowserManager.ID"
                   parser-class="org.livetribe.forma.ui.browser.spi.BrowserExtensionParser">
            <browsers>
                <browser id="org.livetribe.forma.console.browser.SLPNetworkBrowser.ID"
                         browser-class="org.livetribe.forma.console.browser.SLPNetworkBrowser">
                </browser>
            </browsers>
        </extension>

    </extensions>

</plugin>
